@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.result-container {
    width: 100vw;
    min-height: 100vh;
    background: #f7f4ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
}

.result-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #7f53ac, #647dee);
    background-clip: text; /* Standard property */
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent; /* Instead of -webkit-text-fill-color */
}


.score-summary {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 25px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;
    max-width: 500px;
    font-size: 22px;
}

.pie-chart {
    margin: 40px 0;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend {
    margin-top: 10px;
}

p {
    font-size: 24px;
    font-weight: 400;
}

.home-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: rgba(101, 85, 143, 1);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    animation: float 2s infinite;
  }
  
  .home-btn:hover {
    background: rgb(136, 118, 181);
    transform: scale(1.1);
  }
  
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
  }
  